body {
    background-color: #33dfd7;
    color: #1d0202;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #ff0909;
    color: #312727;
    padding: 20px;
    }
    
    h1 {
    font-size: 2.5rem;
    font-weight: bold;
    }
    
    header img {
    width: 80%;
    max-width: 500px;
    height: auto;
    border: 5px solid #0077ff;
    margin: 20px auto;
    display: block;
    }
    
    p {
    font-size: 1.8rem;
    }
    
    img {
    width: 80%;
    max-width: 600px;
    height: auto;
    border: 5px solid #b42a96;
    margin: 20px auto;
    display: block;
    }
    
    :focus {
    outline: 3px solid #52c2ee;
    }
    
    @media (max-width: 600px) {
    body {
    font-size: 1.2rem;
    }
    h1 {
    font-size: 2rem;
    }
    p {
    font-size: 1.5rem;
    }
    }